alabaster
argcomplete
asgiref
asttokens
babel
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
colorlog
coverage
crispy-bootstrap5
cryptography
decorator
defusedxml
distlib
django
django-allauth
django-appconf
django-auditlog
django-coverage-plugin
django-crispy-forms
django-debug-toolbar
django-safedelete
docutils
executing
factory-boy
faker
filelock
genbadge
gunicorn
idna
imagesize
inflection
iniconfig
ipython
jedi
jinja2
markupsafe
matplotlib-inline
mirakuru
mistune
nox
oauthlib
packaging
parso
pexpect
pillow
platformdirs
pluggy
port-for
pprintpp
prompt-toolkit
psutil
psycopg
psycopg-binary
ptyprocess
pure-eval
pycparser
pygments
pyjwt
pytest
pytest-django
pytest-factoryboy
pytest-html
pytest-metadata
pytest-postgresql
python-dateutil
python-decouple
python3-openid
rcssmin
requests
requests-oauthlib
rjsmin
roman-numerals-py
setuptools
six
snowballstemmer
soupsieve
sphinx
sphinx-mdinclude
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-django
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
stack-data
traitlets
typing-extensions
tzdata
urllib3
virtualenv
wcwidth
whitenoise